<div id="hero" class="hero">
  <div class="hero__title">
    <h1>Gratis. Fácil. Crea tu propio plan nutricional desde casa</h1>

    <ul>
      <li>
        <div class="check">🧘</div>
        Ponte en forma
      </li>
      <li>
        <div class="check">🥗</div>
        Come sano
      </li>
      <li>
        <div class="check">🏃‍♀️</div>
        Pierde Peso
      </li>
    </ul>
  </div>
</div>

<section class="info__cal">
  <div class="container">
    <h2>Calcule sus requerimientos y medidas de forma sencilla</h2>

    <div class="container__articles">
      <article class="article">
        <div class="article__img">
          <img src="../../../assets/images/calc1.jpg" alt="calculadora 1" />
        </div>
        <div class="article__text">
          <h3>Calcular el peso ideal</h3>
          <p>
            El peso ideal se puede calcular mediante la fórmula del IMC y sus
            resultados pueden servir para orientarnos sobre nuestra salud
          </p>
        </div>
      </article>
      <article class="article">
        <div class="article__img">
          <img src="../../../assets/images/calc2.jpg" alt="calculadora 2" />
        </div>
        <div class="article__text">
          <h3>Calcular las calorías diarias</h3>
          <p>
            Esta calculadora te ayudará a que sepas en todo momento cuantas
            calorías necesitas en función de tus objetivos
          </p>
        </div>
      </article>
      <article class="article">
        <div class="article__img">
          <img src="../../../assets/images/calc3.jpg" alt="calculadora 3" />
        </div>
        <div class="article__text">
          <h3>Calcular las calorías gastadas</h3>
          <p>
            Caminar es una buena opción para perder peso y mantenernos activos y
            saludables, averigua cuantas calorías oxidas andando
          </p>
        </div>
      </article>
    </div>
    <div class="container__button">
      <div class="btn btn1" [routerLink]="['/calculators']">
        Mostrar las calculadoras
      </div>
    </div>
  </div>
</section>

<section class="info__recipes">
  <div class="container">
    <h2>Descubra todas nuestras recetas saludables</h2>

    <div class="container__articles">
      <article class="article">
        <div class="article__img">
          <img src="../../../assets/images/recipe1.jpg" alt="receta 1" />
        </div>
        <div class="article__text">
          <h3>Avena con queso fresco</h3>
          <p>
            Ligero y rápido, un desayuno o merienda ideal que se puede combinar
            con las frutas que más te gusten.
          </p>
        </div>
      </article>
      <article class="article">
        <div class="article__img">
          <img src="../../../assets/images/recipe2.jpg" alt="receta 2" />
        </div>
        <div class="article__text">
          <h3>Ensalada con ternera</h3>
          <p>
            Ensalada con aderezos, tomáte, ternera, aceite de oliva y un poco de
            sal gorda, muy bueno y bajo en calorías
          </p>
        </div>
      </article>
      <article class="article">
        <div class="article__img">
          <img src="../../../assets/images/recipe3.jpg" alt="receta 3" />
        </div>
        <div class="article__text">
          <h3>Tortitas</h3>
          <p>
            Las reinas de las mañanas, un buen desayuno con unas tortitas hechas
            de harina de avena y sirope zero calorías
          </p>
        </div>
      </article>
    </div>
    <div class="container__button">
      <div class="btn btn2" [routerLink]="['/recipes']">
        Mostrar todas las recetas
      </div>
    </div>
  </div>
</section>

<section class="info__blog">
  <div class="container">
    <h2>Alcance sus objetivos con la mejor información</h2>

    <div class="container__articles">
      <article class="article">
        <div class="article__img">
          <img
            src="../../../assets/images/perdida-grasa.jpg"
            alt="perdida de grasa"
          />
        </div>
        <div class="article__text">
          <h3>Factores clave en la pérdida de grasa</h3>
          <p>
            La pérdida de grasa es un proceso que depende de varios fundamentos
            del cuerpo. Existen cuatro factores, que no implican dietas o
            rutinas. Cualquier transformación que queramos para nuestro cuerpo,
            requiere que conozcamos cómo funciona ante determinadas acciones.
            Sin embargo, es esencial contar con el apoyo de un especialista. No
            solo para concretar un plan de entrenamiento correcto; también, para
            elaborar una planificación nutricional acorde.
          </p>
        </div>
      </article>
      <article class="article">
        <div class="article__img">
          <img
            src="../../../assets/images/entrenamiento.jpg"
            alt="entrenamiento"
          />
        </div>
        <div class="article__text">
          <h3>¿Dosis mínima de entrenamiento para obtener resultados?</h3>
          <p>
            ¿Has empezado una nueva actividad de fitness y te preguntas después
            de cuántas semanas podrás obtener resultados? ¿Estás preparado para
            la operación bikini, pero tienes miedo de que te cueste demasiado
            tiempo? ¿Sueñas con dominar una disciplina, pero todavía estás en el
            nivel de principiante y el camino parece todo cuesta arriba y no
            sabes cuándo empezarás a obtener resultados? No hay tiempo exacto a
            partir del cual los resultados del entrenamiento empiecen a notarse.
          </p>
        </div>
      </article>
      <article class="article">
        <div class="article__img">
          <img
            src="../../../assets/images/estancarse.jpg"
            alt="foto estancamiento"
          />
        </div>
        <div class="article__text">
          <h3>Estrategias para no estancarte en la pérdida de grasa</h3>
          <p>
            Es probable que, cuando hayas empezado a entrenar, hayas ido notando
            progresos rápidamente. Si era tu primera incursión en el mundo del
            deporte, esta sería la situación más natural. Sin embargo, a medida
            que vas adaptando tu organismo y músculos, estos también responden.
            La manera de hacerlo es produciendo una mayor resistencia, adaptando
            tu metabolismo a los cambios. Hay que entender que tu cuerpo va a
            tratar de mantener en todo momento el mismo peso.
          </p>
        </div>
      </article>
    </div>
    <div class="container__button">
      <div class="btn btn1" [routerLink]="['/blog']">Ir a los Blogs</div>
    </div>
  </div>
</section>

<a href="#hero">
  <div class="up">🔝</div>
</a>
