<section class="recipes">
  <h1>Recetario</h1>

  <div class="recipes__grid container">
    <section class="breakfast">
      <h2>Desayunos</h2>

      <div class="grid">
        <article class="food">
          <figure>
            <img src="../../../../assets/images/recipe3.jpg" alt="tortitas" />
          </figure>

          <div class="text">
            <h3>Tortitas con avena / 400 calorías</h3>

            <p><strong>Ingredientes:</strong></p>

            <ul>
              <li>- Harina de avena: 50gr</li>
              <li>- Claras de huevo: 200 ml</li>
              <li>- Huevo: 1 ud</li>
              <li>- Sirope zero</li>
            </ul>

            <p>
              Mezclamos todos los ingredientes bien y lo vamos echando en una
              sartén, finalmente le ponemos un chorro de sirope, zero calorías y
              espolvoreamos canela
            </p>
          </div>
        </article>

        <article class="food">
          <figure>
            <img
              src="../../../../assets/images/recipe1.jpg"
              alt="queso fresco batido"
            />
          </figure>

          <div class="text">
            <h3>Queso fresco con cereales / 400 calorías</h3>

            <p><strong>Ingredientes:</strong></p>

            <ul>
              <li>- Cereales: 50gr</li>
              <li>- Queso fresco batido: 250 ml</li>
              <li>- Proteína en polvo: 1 cacitos</li>
              <li>- Canela</li>
            </ul>

            <p>
              Mezclamos el queso con la proteína en polvo del sabor que nos
              guste y formamos una crema, finalmente echamos los cereales,
              rápido y muy rico.
            </p>
          </div>
        </article>

        <article class="food">
          <figure>
            <img
              src="../../../../assets/images/recipe4.jpg"
              alt="Batido proteico"
            />
          </figure>

          <div class="text">
            <h3>Batido proteico con fruta / 400 calorías</h3>

            <p><strong>Ingredientes:</strong></p>

            <ul>
              <li>- Plátano: 100gr</li>
              <li>- Leche semidesnatada: 200 ml</li>
              <li>- Proteína en polvo: 2 cacitos</li>
              <li>- Hielo</li>
            </ul>

            <p>
              En una batidora introducimos la leche, los hielos y lo trituramos
              bien, finalmente metemos la proteína y el plátano troceado y los
              mezclamos todo.
            </p>
          </div>
        </article>
      </div>
    </section>

    <section class="lunch">
      <h2>Almuerzos</h2>

      <div class="grid">
        <article class="food">
          <figure>
            <img src="../../../../assets/images/recipe5.jpg" alt="pasta" />
          </figure>

          <div class="text">
            <h3>Pasta y carne picada / 600 calorías</h3>

            <p><strong>Ingredientes:</strong></p>

            <ul>
              <li>- Pasta: 90gr</li>
              <li>- Carne picada: 125 gr</li>
              <li>- Tomate frito: 80 gr</li>
              <li>- Mozzarella rallada: 50gr</li>
            </ul>

            <p>
              Cocemos la pasta hasta que quede al dente, luego añadimos el
              tomate, mezclamos y vamos echando la ternera, finalmente ponemos
              el queso y una pizca de pimienta.
            </p>
          </div>
        </article>

        <article class="food">
          <figure>
            <img src="../../../../assets/images/recipe2.jpg" alt="ensalada" />
          </figure>

          <div class="text">
            <h3>Ensalada y ternera / 600 calorías</h3>

            <p><strong>Ingredientes:</strong></p>

            <ul>
              <li>- Ternera: 190gr</li>
              <li>- Lechuga y tomate: libre</li>
              <li>- Aceite de oliva: 10 gr</li>
              <li>- Sal gorda</li>
            </ul>

            <p>
              Lavamos bien las verduras y las mezclamos con el aceite de oliva y
              un chorrito de vinagre. La ternera la hacemos en la plancha sin
              aceite, finalmente lo mezclamos y le ponemos un poco de sal.
            </p>
          </div>
        </article>

        <article class="food">
          <figure>
            <img src="../../../../assets/images/recipe6.jpg" alt="paninis" />
          </figure>

          <div class="text">
            <h3>Paninis de pollo / 600 calorías</h3>

            <p><strong>Ingredientes:</strong></p>

            <ul>
              <li>- Pan integral: 100gr</li>
              <li>- Mozzarella rallada: 60 gr</li>
              <li>- Tomate frito: 70 gr</li>
              <li>- Pechuga de pollo: 125gr</li>
            </ul>

            <p>
              Precalentamos el horno a 210, mientras vamos haciendo el pollo un
              poco en la plancha, finalmente montamos todo sobre el pan,
              incluido el pollo y lo metemos 8 minutos al horno.
            </p>
          </div>
        </article>
      </div>
    </section>

    <section class="dinner">
      <h2>Cenas</h2>

      <div class="grid">
        <article class="food">
          <figure>
            <img src="../../../../assets/images/recipe7.jpg" alt="huevos" />
          </figure>

          <div class="text">
            <h3>Patatas con Jamón / 600 calorías</h3>

            <p><strong>Ingredientes:</strong></p>

            <ul>
              <li>- Patatas: 325gr</li>
              <li>- Jamón serrano: 100 gr</li>
              <li>- Huevo: 1 ud</li>
              <li>- Aceite de oliva: 10 gr</li>
            </ul>

            <p>
              Lavamos y troceamos las patatas, lo ideal sería cocerlas un poco
              antes de meterlas al horno, cuando estén listas podemos echarle
              las especias que queramos, el aceite, el jamón y el huevo.
            </p>
          </div>
        </article>

        <article class="food">
          <figure>
            <img src="../../../../assets/images/recipe8.jpg" alt="ensalada" />
          </figure>

          <div class="text">
            <h3>Ensalada con merluza / 600 calorías</h3>

            <p><strong>Ingredientes:</strong></p>

            <ul>
              <li>- Lechuga y tomate: libre</li>
              <li>- Merluza: 200 gr</li>
              <li>- Aceite de oliva: 10 gr</li>
              <li>- Picatostes: 20gr</li>
            </ul>

            <p>
              Preparamos la merluza en la plancha o en el horno sin aceite, la
              salpimentamos y le ponemos un chorrito de limón, aderezamos la
              ensalada con aceite y sal y acompañamos con los picatostes.
            </p>
          </div>
        </article>

        <article class="food">
          <figure>
            <img src="../../../../assets/images/recipe9.jpg" alt="sandwich" />
          </figure>

          <div class="text">
            <h3>Sándwich mixto/ 600 calorías</h3>

            <p><strong>Ingredientes:</strong></p>

            <ul>
              <li>- Pan integral de molde: 60gr</li>
              <li>- Huevos: 2 uds</li>
              <li>- Jamón cocido: 100 gr</li>
              <li>- Queso gouda: 40 gr</li>
            </ul>

            <p>
              Tostamos el pan, luego colocamos el queso encima para que se
              derrita, los huevos los podemos cocer o hacerlos en la plancha,
              finalmente podemos añadir un poco de ajo en polvo y a disfrutar.
            </p>
          </div>
        </article>
      </div>
    </section>
  </div>
</section>
