<div class="blog__article container">
  <h2>¿Dosis mínima de entrenamiento para obtener resultados?</h2>

  <figure>
    <img
      src="../../../../../assets/images/entrenamiento.jpg"
      alt="no estancarte en la pérdida de grasa"
    />
  </figure>

  <div class="text">
    <p>
      ¿Has empezado una nueva actividad de fitness y te preguntas después de
      cuántas semanas podrás obtener resultados? ¿Estás deseando sentirte
      preparado para la operación bikini, pero tienes miedo de que te cueste
      demasiado tiempo? ¿O sueñas con dominar una disciplina, pero todavía estás
      en el nivel de principiante y el camino parece todo cuesta arriba y no
      sabes cuándo empezarás a obtener resultados? No hay un tiempo exacto a
      partir del cual los resultados de nuestro entrenamiento empiecen a
      notarse. Obtener resultados depende de los objetivos que queramos alcanzar
      y también del tiempo que invirtamos en el entrenamiento. Por lo general,
      antes de notar resultados reales, empezamos a sentirnos de forma diferente
      con nuestro cuerpo: nos sentimos mejor con nosotros mismos, más elásticos,
      más fuertes y en forma. Según un estudio de la Universidad de Wisconsin,
      ¡6 semanas no son suficientes para ver resultados! Entonces, si no podemos
      notar ninguna mejora en un mes y medio, ¿cuánto tiempo se necesita para
      obtener los primeros resultados?
    </p>

    <h3>¿Cuáles son los objetivos que quieres lograr?</h3>
    <p>
      En primer lugar, debemos señalar que “estar en forma” tiene diferentes
      significados: para cada uno de nosotros; el objetivo puede ser quemar 500
      calorías, para otros puede ser perder 5 kilos, para otros aún, mejorar la
      forma física significa aumentar la masa muscular y reducir la masa grasa.
      Por supuesto, dependiendo del objetivo, el tiempo necesario para conseguir
      resultados varía. Además, ¡hay una diferencia en el obtener resultados
      entre un principiante y un profesional!
    </p>

    <p>
      Un principiante debe entrenar durante al menos 2 semanas antes de empezar
      a sentir los beneficios del ejercicio.
    </p>

    <p>
      Un profesional ya tiene una buena relación con su cuerpo y necesita más
      tiempo para mejorar su rendimiento.
    </p>

    <h3>
      ¿Cuáles son los objetivos que a menudo nos impulsan a empezar a entrenar?
    </h3>

    <ul>
      <li>Perder peso</li>
      <li>Fortalecimiento del cuerpo</li>
      <li>Tonificar el cuerpo</li>
      <li>Mejorar tu rendimiento físico</li>
      <li>Mejorar el aspecto de uno mismo</li>
    </ul>

    <p>
      En general, podemos decir que la obtención de resultados tras un
      entrenamiento constante y regular son realmente visibles al cabo de unos 3
      meses. Otro aspecto fundamental a tener en cuenta es que los resultados
      también deben mantenerse en el tiempo. Esto se traduce en un cambio lento
      y progresivo de:
    </p>

    <ul>
      <li>Estilo de vida</li>
      <li>Nutrición</li>
      <li>Entrenamiento</li>
    </ul>

    <h3>
      Obtener resultados y mantenerlos en el tiempo: lo que dicen los estudios
    </h3>
    <p>
      Veamos en detalle cómo entrenar para mejorar la forma física y lo rápido
      que nos arriesgamos a perder los resultados si dejamos de hacerlo. El
      entrenamiento es un verdadero viaje que consiste en una serie de pasos que
      nos llevan desde el nivel de principiante hasta el nivel intermedio en el
      transcurso de unos pocos meses. Pero, ¿cuánto tiempo hay que entrenar
      exactamente para ver los primeros resultados?
    </p>

    <p>
      Depende. No solo depende del tipo de ejercicio y de la intensidad con la
      que lo hagamos, sino también de nuestra forma física. Llevar una vida
      sedentaria durante muchos años puede dificultar mucho un ascenso
      deportivo: según un estudio, las personas sedentarias u obesas necesitan
      entrenar durante 6 meses para mejorar su rendimiento cardiovascular en un
      8 %. ¡No estamos hablando de ejercicios de baja intensidad, sino de HIIT
      con un consumo energético del 150 %! Seis meses parecen una cantidad de
      tiempo infinita para conseguir unos resultados tan bajos, pero, por
      desgracia, nuestro estilo de vida tiene un gran impacto en nuestras
      posibilidades de progreso.
    </p>

    <h3>
      ¿Y si dejamos de entrenar? ¿Con qué rapidez nos arriesgamos a perder
      nuestro progreso?
    </h3>
    <p>
      Tras 21 días de inactividad, el VO2 máx. disminuye un 7 %. Este descenso
      continúa progresivamente hasta que se detiene tras 56 días sin
      entrenamiento. Sin embargo, incluso después de 84 días sin entrenar, el
      VO2 máximo de un sujeto que había entrenado en los meses anteriores es
      mayor que el de un sujeto que nunca había entrenado.
    </p>
    <p>
      Después de 31 semanas de inactividad, los jóvenes pierden alrededor del
      8 % de su fuerza muscular, mientras que las personas mayores pierden
      alrededor del 14 %. Por lo tanto, la fuerza muscular disminuye mucho más
      lentamente que el VO2 máximo, y el descenso máximo se produce después de
      12 semanas. En consecuencia, los pequeños periodos de descanso no afectan
      a nuestra fuerza o resistencia muscular.
    </p>
    <p>
      Según un estudio de 2011, una pausa de 3 semanas en el entrenamiento no
      afecta en absoluto a nuestro rendimiento y a la obtención de resultados.
      Por lo tanto, según este concepto, después de haber conseguido fortalecer
      nuestro cuerpo y mejorar nuestro rendimiento, este tiende a mantenerse
      constante, aunque nos tomemos un breve descanso en el entrenamiento.
    </p>

    <p>
      A la luz de todo esto, podemos sacar una conclusión positiva: el
      entrenamiento cambia permanentemente las células de nuestros músculos,
      llamadas fibras musculares, y este cambio persiste en nuestro cuerpo,
      incluso si dejamos de entrenar. Además, ¡es mucho más fácil conseguir
      resultados para los que ya han entrenado en el pasado!
    </p>
  </div>
</div>
