<section class="tables">
  <h1 class="tables__title">Tablas de calorías</h1>

  <div class="tables__grid container">
    <figure>
      <img src="../../../../assets/images/aceites.png" alt="tabla de aceites" />
    </figure>

    <figure>
      <img
        src="../../../../assets/images/cereales.png"
        alt="tabla de cereales"
      />
    </figure>

    <figure>
      <img src="../../../../assets/images/frutas.png" alt="tabla de frutas" />
    </figure>

    <figure>
      <img
        src="../../../../assets/images/verduras.png"
        alt="tabla de verduras"
      />
    </figure>

    <figure>
      <img
        src="../../../../assets/images/secos.png"
        alt="tabla de frutos secos"
      />
    </figure>

    <figure>
      <img
        src="../../../../assets/images/pescado.png"
        alt="tabla de pescados"
      />
    </figure>

    <figure>
      <img src="../../../../assets/images/lacteos.png" alt="tabla de lacteos" />
    </figure>

    <figure>
      <img src="../../../../assets/images/carnes.png" alt="tabla de carnes" />
    </figure>
  </div>
</section>
